<h1 id="informations-légales">Informations légales</h1>
<blockquote>
<p>Ce travail comprend des éléments tirés du Document de référence du
système 5.1 ("SRD 5.1") de Wizards of the Coast LLC, disponible sur
https://dnd.wizards.com/resources/systems-reference-document. Le SRD 5.1
est sous licence Creative Commons Attribution 4.0 International License
disponible sur
https://creativecommons.org/licenses/by/4.0/legalcode.</p>
</blockquote>
<h1 id="au-delà-du-1er-niveau">Au-delà du 1er niveau</h1>
<h2 id="avancement-du-caractère">Avancement du caractère</h2>
<p>Au fur et à mesure que votre personnage vit des aventures et surmonte
des épreuves, il acquiert de l’expérience, représentée par des points
d’expérience. Un personnage qui atteint un certain nombre de points
d’expérience progresse en capacité. Cette progression s’appelle le
<strong>gain d’un niveau</strong>.</p>
<p>Lorsque votre personnage gagne un niveau, sa classe lui accorde
souvent des capacités supplémentaires, détaillées dans la description de
la classe. Certaines de ces capacités vous permettent d’augmenter vos
scores de compétence, soit en augmentant deux scores de 1 chacun, soit
en augmentant un score de 2. Vous ne pouvez pas augmenter un score de
compétence au-delà de 20. En outre, le bonus de maîtrise de chaque
personnage augmente à certains niveaux.</p>
<p>Chaque fois que vous gagnez un niveau, vous gagnez 1 Dé de Vie
supplémentaire. Lancez ce dé, ajoutez-y votre modificateur de
Constitution, et ajoutez le total à votre maximum de points de vie. Vous
pouvez également utiliser la valeur fixe indiquée dans votre fiche de
classe, qui correspond au résultat moyen du jet de dé (arrondi au
chiffre supérieur).</p>
<p>Lorsque votre modificateur de Constitution augmente de 1, votre
maximum de points de vie augmente de 1 pour chaque niveau atteint. Par
exemple, si votre guerrier de 7e niveau a un score de Constitution de
18, lorsqu’il atteint le 8e niveau, il augmente son score de
Constitution de 17 à 18, faisant ainsi passer son modificateur de
Constitution de +3 à +4. Son maximum de points de vie augmente alors de
8.</p>
<p>Le tableau d’avancement du personnage récapitule l’XP dont vous avez
besoin pour progresser en niveaux du niveau 1 au niveau 20, ainsi que le
bonus de maîtrise pour un personnage de ce niveau. Consultez les
informations de la description de classe de votre personnage pour voir
quelles autres améliorations vous gagnez à chaque niveau.</p>
<table style="width:65%;">
<caption>Avancement du caractère</caption>
<colgroup>
<col style="width: 26%" />
<col style="width: 12%" />
<col style="width: 26%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Points d’expérience</th>
<th style="text-align: center;">Niveau</th>
<th style="text-align: center;">Bonus de maîtrise supplémentaire</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">0</td>
<td style="text-align: center;">1</td>
<td style="text-align: center;">+2</td>
</tr>
<tr class="even">
<td style="text-align: left;">300</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">+2</td>
</tr>
<tr class="odd">
<td style="text-align: left;">900</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">+2</td>
</tr>
<tr class="even">
<td style="text-align: left;">2,700</td>
<td style="text-align: center;">4</td>
<td style="text-align: center;">+2</td>
</tr>
<tr class="odd">
<td style="text-align: left;">6,500</td>
<td style="text-align: center;">5</td>
<td style="text-align: center;">+3</td>
</tr>
<tr class="even">
<td style="text-align: left;">14,000</td>
<td style="text-align: center;">6</td>
<td style="text-align: center;">+3</td>
</tr>
<tr class="odd">
<td style="text-align: left;">23,000</td>
<td style="text-align: center;">7</td>
<td style="text-align: center;">+3</td>
</tr>
<tr class="even">
<td style="text-align: left;">34,000</td>
<td style="text-align: center;">8</td>
<td style="text-align: center;">+3</td>
</tr>
<tr class="odd">
<td style="text-align: left;">48,000</td>
<td style="text-align: center;">9</td>
<td style="text-align: center;">+4</td>
</tr>
<tr class="even">
<td style="text-align: left;">64,000</td>
<td style="text-align: center;">10</td>
<td style="text-align: center;">+4</td>
</tr>
<tr class="odd">
<td style="text-align: left;">85,000</td>
<td style="text-align: center;">11</td>
<td style="text-align: center;">+4</td>
</tr>
<tr class="even">
<td style="text-align: left;">100,000</td>
<td style="text-align: center;">12</td>
<td style="text-align: center;">+4</td>
</tr>
<tr class="odd">
<td style="text-align: left;">120,000</td>
<td style="text-align: center;">13</td>
<td style="text-align: center;">+5</td>
</tr>
<tr class="even">
<td style="text-align: left;">140,000</td>
<td style="text-align: center;">14</td>
<td style="text-align: center;">+5</td>
</tr>
<tr class="odd">
<td style="text-align: left;">165,000</td>
<td style="text-align: center;">15</td>
<td style="text-align: center;">+5</td>
</tr>
<tr class="even">
<td style="text-align: left;">195,000</td>
<td style="text-align: center;">16</td>
<td style="text-align: center;">+5</td>
</tr>
<tr class="odd">
<td style="text-align: left;">225,000</td>
<td style="text-align: center;">17</td>
<td style="text-align: center;">+6</td>
</tr>
<tr class="even">
<td style="text-align: left;">265,000</td>
<td style="text-align: center;">18</td>
<td style="text-align: center;">+6</td>
</tr>
<tr class="odd">
<td style="text-align: left;">305,000</td>
<td style="text-align: center;">19</td>
<td style="text-align: center;">+6</td>
</tr>
<tr class="even">
<td style="text-align: left;">355,000</td>
<td style="text-align: center;">20</td>
<td style="text-align: center;">+6</td>
</tr>
</tbody>
</table>
<h2 id="multiclassage">Multiclassage</h2>
<p>Le multiclassage vous permet de gagner des niveaux dans plusieurs
classes. Cela vous permet de mélanger les capacités de ces classes afin
de réaliser un concept de personnage qui pourrait ne pas être reflété
dans l’une des options de classe standard.</p>
<p>Avec cette règle, vous avez la possibilité de gagner un niveau dans
une nouvelle classe chaque fois que vous avancez en niveau, au lieu de
gagner un niveau dans votre classe actuelle. Vos niveaux dans toutes vos
classes sont additionnés pour déterminer votre niveau de personnage. Par
exemple, si vous avez trois niveaux en magicien et deux en guerrier,
vous êtes un personnage de 5e niveau.</p>
<p>Au fur et à mesure que vous progressez en termes de niveaux, vous
pouvez rester membre de votre classe d’origine et passer quelques
niveaux dans une autre classe, ou changer complètement de cap, sans
jamais regarder la classe que vous avez laissée derrière vous. Vous
pouvez même commencer à progresser dans une troisième ou une quatrième
classe. Par rapport à un personnage mono-classe de même niveau, vous
sacrifiez un peu de concentration en échange de la polyvalence.</p>
<h3 id="prérequis">Prérequis</h3>
<p>Pour vous qualifier pour une nouvelle classe, vous devez remplir les
prérequis en termes de valeur caractéristique pour votre classe actuelle
et votre nouvelle classe, comme indiqué dans le tableau des prérequis du
multiclassage. Par exemple, un barbare qui décide de se reclasser dans
la classe des druides doit avoir des scores de Force et de Sagesse de 13
ou plus. Sans l’entraînement complet que reçoit un personnage débutant,
vous devez apprendre rapidement dans votre nouvelle classe, en ayant une
aptitude naturelle qui se traduit par des scores de capacité supérieurs
à la moyenne.</p>
<table style="width:57%;">
<caption>Prérequis pour le multiclassage</caption>
<colgroup>
<col style="width: 19%" />
<col style="width: 37%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Classe</th>
<th style="text-align: left;">Valeur de caractéristique minimum</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Barbare</td>
<td style="text-align: left;">Force 13</td>
</tr>
<tr class="even">
<td style="text-align: left;">Barde Cha</td>
<td style="text-align: left;">risme 13</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Clerc</td>
<td style="text-align: left;">Sagesse 13</td>
</tr>
<tr class="even">
<td style="text-align: left;">Druide</td>
<td style="text-align: left;">Sagesse 13</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Guerrier</td>
<td style="text-align: left;">Force 13 ou Dextérité 13</td>
</tr>
<tr class="even">
<td style="text-align: left;">Moine</td>
<td style="text-align: left;">Dextérité 13 et Sagesse 13</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Paladin</td>
<td style="text-align: left;">Force 13 et Charisme 13</td>
</tr>
<tr class="even">
<td style="text-align: left;">Rôdeur</td>
<td style="text-align: left;">Dextérité 13 et Sagesse 13</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Roublard</td>
<td style="text-align: left;">Dextérité 13</td>
</tr>
<tr class="even">
<td style="text-align: left;">Sorcier</td>
<td style="text-align: left;">Charisme 13</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Invocateur C</td>
<td style="text-align: left;">harisme 13</td>
</tr>
<tr class="even">
<td style="text-align: left;">Magicien</td>
<td style="text-align: left;">Intelligence 13</td>
</tr>
</tbody>
</table>
<h3 id="points-dexpérience">Points d’expérience</h3>
<p>Le coût en points d’expérience pour gagner un niveau est toujours
basé sur votre niveau de personnage total, comme indiqué dans le tableau
d’avancement du personnage, et non sur votre niveau dans une classe
particulière. Ainsi, si vous êtes un clerc 6/combattant 1, vous devez
gagner suffisamment d’XP pour atteindre le 8e niveau avant de pouvoir
prendre votre deuxième niveau en tant que combattant ou votre septième
niveau en tant que clerc.</p>
<h3 id="points-de-vie-et-dés-de-réussite">Points de vie et dés de
réussite</h3>
<p>Vous gagnez les points de vie de votre nouvelle classe comme décrit
pour les niveaux après le 1er. Vous gagnez les points de vie du 1er
niveau d’une classe uniquement lorsque vous êtes un personnage de 1er
niveau.</p>
<p>Vous additionnez les dés de chocs accordés par toutes vos classes
pour former votre pool de dés de chocs. Si les dés de combat sont du
même type, vous pouvez simplement les regrouper. Par exemple, le
guerrier et le paladin ont tous deux un d10, donc si vous êtes un
paladin 5/combattant 5, vous avez dix dés de touche d10. Si vos classes
vous donnent des dés de points de vie de différents types, tenez-en
compte séparément. Si vous êtes un paladin 5/clerc 5, par exemple, vous
avez cinq dés de coups d10 et cinq dés de coups d8.</p>
<h3 id="bonus-de-maîtrise-supplémentaire">Bonus de maîtrise
supplémentaire</h3>
<p>Votre bonus de maîtrise est toujours basé sur votre niveau de
personnage total, comme indiqué dans le tableau d’avancement du
personnage, et non sur votre niveau dans une classe particulière. Par
exemple, si vous êtes un guerrier 3/rogue 2, vous avez le bonus de
maîtrise d’un personnage de 5e niveau, soit +3.</p>
<h3 id="maîtrises">Maîtrises</h3>
<p>Lorsque vous gagnez votre premier niveau dans une classe autre que
votre classe initiale, vous ne gagnez que certaines des maîtrises de
départ de la nouvelle classe, comme indiqué dans le tableau des
maîtrises du multiclassage.</p>
<table style="width:97%;">
<caption>Maîtrise du multiclassique</caption>
<colgroup>
<col style="width: 17%" />
<col style="width: 79%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Classe</th>
<th style="text-align: left;">Maîtrise acquise</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Barbare</td>
<td style="text-align: left;">Boucliers, armes courantes, armes
martiales</td>
</tr>
<tr class="even">
<td style="text-align: left;">Barde Arm</td>
<td style="text-align: left;">ure légère, une compétence de votre choix,
un instrument de musique de votre choix.</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Clerc</td>
<td style="text-align: left;">Blindage léger, blindage moyen,
boucliers</td>
</tr>
<tr class="even">
<td style="text-align: left;">Druide</td>
<td style="text-align: left;">Armure légère, armure moyenne, boucliers
(les druides ne portent pas d’armure et n’utilisent pas de boucliers en
métal).</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Guerrier</td>
<td style="text-align: left;">Armure légère, armure moyenne, boucliers,
armes simples, armes martiales.</td>
</tr>
<tr class="even">
<td style="text-align: left;">Moine</td>
<td style="text-align: left;">Armes courantes, épées courtes</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Paladin</td>
<td style="text-align: left;">Armure légère, armure moyenne, boucliers,
armes simples, armes martiales.</td>
</tr>
<tr class="even">
<td style="text-align: left;">Rôdeur</td>
<td style="text-align: left;">Armure légère, armure moyenne, boucliers,
armes courantes, armes martiales, une compétence de la liste des
compétences de la classe.</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Roublard</td>
<td style="text-align: left;">Armure légère, une compétence de la liste
des compétences de la classe, outils de voleur.</td>
</tr>
<tr class="even">
<td style="text-align: left;">Sorcier</td>
<td style="text-align: left;">-</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Invocateur A</td>
<td style="text-align: left;">rmure légère, armes simples.</td>
</tr>
<tr class="even">
<td style="text-align: left;">magicien</td>
<td style="text-align: left;">-</td>
</tr>
</tbody>
</table>
<h3 id="capacités-de-la-classe">Capacités de la classe</h3>
<p>Lorsque vous gagnez un nouveau niveau dans une classe, vous obtenez
ses caractéristiques pour ce niveau. Cependant, vous ne recevez pas
l’équipement de départ de la classe, et quelques capacités ont des
règles supplémentaires lorsque vous êtes en multiclasse : Canalisation
divine, Attaque supplémentaire, Défense sans armure, et Lanceur de
sorts.</p>
<h4 id="canalisation-divine">Canalisation divine</h4>
<p>Si vous avez déjà la caractéristique Canalisation divine et que vous
gagnez un niveau dans une classe qui accorde également cette
caractéristique, vous gagnez les effets de Canalisation divine accordés
par cette classe, mais le fait d’obtenir à nouveau la caractéristique ne
vous donne pas une utilisation supplémentaire de celle-ci. Vous ne
gagnez des utilisations supplémentaires que lorsque vous atteignez un
niveau de classe qui vous les accorde explicitement. Par exemple, si
vous êtes un clerc 6/paladin 4, vous pouvez utiliser Canalisation divine
deux fois entre les repos parce que vous avez un niveau suffisamment
élevé dans la classe des clercs pour avoir plus d’utilisations. Chaque
fois que vous utilisez cette caractéristique, vous pouvez choisir
n’importe lequel des effets de Canalisation divine disponibles dans vos
deux classes.</p>
<h4 id="attaque-supplémentaire">Attaque supplémentaire</h4>
<p>Si vous obtenez le trait de classe Attaque supplémentaire dans plus
d’une classe, les traits ne s’additionnent pas. Vous ne pouvez pas
effectuer plus de deux attaques avec ce trait, sauf si cela est indiqué
(comme la version du guerrier de l’Attaque supplémentaire). De même,
l’invocation eldritch Lame insatiable du invocateur ne vous donne pas
d’attaques supplémentaires si vous avez aussi Attaque
supplémentaire.</p>
<h4 id="défense-sans-armure">Défense sans armure</h4>
<p>Si vous avez déjà la caractéristique Défense sans armure, vous ne
pouvez pas l’obtenir à nouveau d’une autre classe.</p>
<h4 id="incantation">Incantation</h4>
<p>Votre capacité d’incantation dépend en partie de vos niveaux combinés
dans toutes vos classes de lanceur de sorts et en partie de vos niveaux
individuels dans ces classes. Si vous avez la caractéristique de lanceur
de sorts de plus d’une classe, utilisez les règles ci-dessous. Si vous
êtes multi-classe mais que vous avez la caractéristique Incantation
d’une seule classe, vous suivez les règles décrites dans cette
classe.</p>
<p><strong><em>Sorts connus et préparés.</em></strong> Vous déterminez
les sorts que vous connaissez et que vous pouvez préparer pour chaque
classe individuellement, comme si vous étiez un membre à classe unique
de cette classe. Si vous êtes un rôdeur 4/un magicien 3, par exemple,
vous connaissez trois sorts de rôdeur de 1er niveau basés sur vos
niveaux dans la classe de rôdeur. En tant que magicien de 3e niveau,
vous connaissez trois sorts de magicien, et votre livre de sorts
contient dix sorts de magicien, dont deux (les deux que vous avez
obtenus lorsque vous avez atteint le 3e niveau de magicien) peuvent être
des sorts de 2e niveau. Si votre Intelligence est de 16, vous pouvez
préparer six sorts de magicien à partir de votre livre de sorts.</p>
<p>Chaque sort que vous connaissez et préparez est associé à l’une de
vos classes, et vous utilisez la caractéristique d’incantation de cette
classe lorsque vous lancez le sort. De même, une focalisation
d’incantation, comme un symbole sacré, ne peut être utilisée que pour
les sorts de la classe associée à cette focalisation.</p>
<p><strong><em>Emplacements de sorts.</em></strong> Vous déterminez vos
emplacements de sorts disponibles en additionnant tous vos niveaux dans
les classes de barde, clerc, druide, sorcier et magicien, et la moitié
de vos niveaux (arrondis à l’inférieur) dans les classes de paladin et
de rôdeur. Utilisez ce total pour déterminer vos emplacements de sorts
en consultant la table des lanceurs de sorts multiclasses.</p>
<p>Si vous avez plus d’une classe d’incantation, cette table peut vous
donner des emplacements de sorts d’un niveau supérieur aux sorts que
vous connaissez ou que vous pouvez préparer. Vous pouvez utiliser ces
emplacements, mais uniquement pour lancer vos sorts de niveau inférieur.
Si un sort de niveau inférieur que vous lancez, comme <em>Mains
brûlantes</em>, a un effet amélioré lorsqu’il est lancé en utilisant un
emplacement de niveau supérieur, vous pouvez utiliser l’effet amélioré,
même si vous n’avez pas de sorts de ce niveau supérieur.</p>
<p>Par exemple, si vous êtes le rôdeur 4/magicien 3 mentionné plus haut,
vous comptez comme un personnage de 5e niveau pour déterminer vos
emplacements de sorts : vous avez quatre emplacements de 1er niveau,
trois emplacements de 2e niveau et deux emplacements de 3e niveau.
Cependant, vous ne connaissez pas de sorts de 3ème niveau, ni de sorts
de rôdeur de 2ème niveau. Vous pouvez utiliser les emplacements de sorts
de ces niveaux pour lancer les sorts que vous connaissez - et
éventuellement améliorer leurs effets.</p>
<p><strong><em>Magie de pacte.</em></strong> Si vous possédez à la fois
la caractéristique de classe Lancer des sorts et la caractéristique de
classe Magie de pacte de la classe des sorciers, vous pouvez utiliser
les emplacements de sorts que vous gagnez grâce à la caractéristique
Magie de pacte pour lancer des sorts que vous connaissez ou que vous
avez préparés dans des classes possédant la caractéristique de classe
Lancer des sorts, et vous pouvez utiliser les emplacements de sorts que
vous gagnez grâce à la caractéristique de classe Lancer des sorts pour
lancer des sorts de sorciers que vous connaissez.</p>
<table style="width:98%;">
<caption>Lanceur de sorts multi-classes : Emplacements de sorts par
niveau de sort</caption>
<colgroup>
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 9%" />
<col style="width: 9%" />
<col style="width: 9%" />
<col style="width: 9%" />
<col style="width: 9%" />
<col style="width: 9%" />
<col style="width: 9%" />
<col style="width: 9%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: center;">Niveau</th>
<th style="text-align: center;">Niveau des sorts</th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: center;">1er</td>
<td>2ème</td>
<td>3ème</td>
<td>4ème</td>
<td>5ème</td>
<td>6ème</td>
<td>7ème</td>
<td>8ème</td>
<td>9ème</td>
</tr>
<tr class="even">
<td style="text-align: center;">1er</td>
<td style="text-align: center;">2</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="odd">
<td style="text-align: center;">2ème</td>
<td style="text-align: center;">3</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="even">
<td style="text-align: center;">3ème</td>
<td style="text-align: center;">4</td>
<td>2</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="odd">
<td style="text-align: center;">4ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="even">
<td style="text-align: center;">5ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>2</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="odd">
<td style="text-align: center;">6ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="even">
<td style="text-align: center;">7ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="odd">
<td style="text-align: center;">8ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="even">
<td style="text-align: center;">9ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="odd">
<td style="text-align: center;">10ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="even">
<td style="text-align: center;">11ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="odd">
<td style="text-align: center;">12ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="even">
<td style="text-align: center;">13ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="odd">
<td style="text-align: center;">14ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>-</td>
<td>-</td>
</tr>
<tr class="even">
<td style="text-align: center;">15ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>-</td>
</tr>
<tr class="odd">
<td style="text-align: center;">16ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>-</td>
</tr>
<tr class="even">
<td style="text-align: center;">17ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr>
<tr class="odd">
<td style="text-align: center;">18ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>1</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr>
<tr class="even">
<td style="text-align: center;">19ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr>
<tr class="odd">
<td style="text-align: center;">20ème</td>
<td style="text-align: center;">4</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>2</td>
<td>2</td>
<td>1</td>
<td>1</td>
</tr>
</tbody>
</table>
<h2 id="alignement">Alignement</h2>
<p>Une créature typique du monde du jeu a un alignement, qui décrit
largement ses attitudes morales et personnelles. L’alignement est une
combinaison de deux facteurs : l’un identifie la moralité (bon, mauvais
ou neutre), et l’autre décrit les attitudes envers la société et l’ordre
(licite, chaotique ou neutre). Ainsi, neuf alignements distincts
définissent les combinaisons possibles.</p>
<p>Ces brefs résumés des neuf alignements décrivent le comportement
typique d’une créature de cet alignement. Les individus peuvent
s’écarter considérablement de ce comportement typique, et peu de gens
sont parfaitement et constamment fidèles aux préceptes de leur
alignement.</p>
<p>On peut compter sur les créatures<strong>légalement bonnes</strong>
(LG) pour faire ce que la société attend d’elles. Les dragons d’or, les
paladins et la plupart des nains sont bons.</p>
<p>Les personnes<strong>neutres bonnes</strong> (NG) font de leur mieux
pour aider les autres en fonction de leurs besoins. De nombreux
célestes, certains géants des nuages et la plupart des gnomes sont bons
neutres.</p>
<p>Les créatures<strong>chaotiques bonnes</strong> (CG) agissent selon
leur conscience, sans se soucier des attentes des autres. Les dragons de
cuivre, de nombreux elfes et les licornes sont chaotiquement bons.</p>
<p>Les individus<strong>légalement neutres</strong> (LN) agissent en
accord avec la loi, la tradition ou les codes personnels. De nombreux
moines et certains magiciens sont des neutres légaux.</p>
<p><strong>Neutre</strong> (N) est l’alignement de ceux qui préfèrent
éviter les questions morales et ne prennent pas parti, faisant ce qui
leur semble le mieux sur le moment. Les Homme-lézards, la plupart des
druides et de nombreux humains sont neutres.</p>
<p>Les créatures<strong>chaotiques neutres</strong> (CN) suivent leurs
caprices, tenant leur liberté personnelle par-dessus tout. De nombreux
barbares et roublards, ainsi que certains bardes, sont chaotiques
neutres.</p>
<p>Les créatures<strong>légalement mauvaises</strong> (LE) prennent
méthodiquement ce qu’elles veulent, dans les limites d’un code de
tradition, de loyauté ou d’ordre. Les démons, les dragons bleus et les
hobgobelins sont des malfaiteurs légitimes.</p>
<p>Le<strong>mal neutre</strong> (NE) est l’alignement de ceux qui font
tout ce qu’ils peuvent faire, sans compassion ni scrupules. De nombreux
Drow, quelques géants des nuages et des gobelins sont neutres.</p>
<p>Les créatures<strong>maléfiques chaotiques</strong> (CE) agissent
avec une violence arbitraire, poussées par leur avidité, leur haine ou
leur soif de sang. Les démons, les dragons rouges et les orcs sont
chaotiques.</p>
<h3 id="lalignement-dans-le-multivers">L’alignement dans le
multivers</h3>
<p>Pour de nombreuses créatures pensantes, l’alignement est un choix
moral. Les humains, les nains, les elfes et les autres origines
humanoïdes peuvent choisir de suivre les voies du bien ou du mal, de la
loi ou du chaos. Selon le mythe, les dieux de l’alignement du bien qui
ont créé ces origines leur ont donné le libre arbitre pour choisir leur
voie morale, sachant que le bien sans le libre arbitre est de
l’esclavage.</p>
<p>Les divinités maléfiques qui ont créé d’autres origines, cependant,
ont créé ces origines pour les servir. Ces origines ont de fortes
tendances innées qui correspondent à la nature de leurs dieux. La
plupart des orcs partagent la nature violente et sauvage des dieux orcs,
et sont donc enclins au mal. Même si un orc choisit une bonne
orientation, il lutte toute sa vie contre ses tendances innées. (Même
les demi-orques ressentent l’influence persistante du dieu orc).</p>
<p>L’alignement est une partie essentielle de la nature des célestes et
des fiélons. Un démon ne choisit pas d’être un mal légal, et il ne tend
pas vers le mal légal, mais il est plutôt un mal légal dans son essence.
S’il cessait de l’être, il cesserait d’être un démon.</p>
<p>La plupart des créatures qui n’ont pas la capacité de penser
rationnellement n’ont pas d’alignement - elles sont <strong>sans
alignement</strong>. Une telle créature est incapable de faire un choix
moral ou éthique et agit selon sa nature bestiale. Les requins sont des
prédateurs sauvages, par exemple, mais ils ne sont pas mauvais ; ils ne
sont pas alignés.</p>
<h2 id="langues">Langues</h2>
<p>Votre origine indique les langues que votre personnage peut parler
par défaut, et votre historique peut vous donner accès à une ou
plusieurs langues supplémentaires de votre choix. Notez ces langues sur
votre feuille de personnage.</p>
<p>Choisissez vos langues dans la table des langues standard, ou
choisissez-en une qui est commune dans votre campagne. Avec l’accord de
votre MJ, vous pouvez choisir une langue de la table Langues exotiques
ou une langue secrète, comme le jargon des voleurs ou la langue des
druides.</p>
<table style="width:62%;">
<caption>Langues standard</caption>
<colgroup>
<col style="width: 18%" />
<col style="width: 29%" />
<col style="width: 15%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Langue</th>
<th style="text-align: left;">Haut-parleurs typiques</th>
<th style="text-align: left;">Script</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Roturier</td>
<td style="text-align: left;">Humains</td>
<td style="text-align: left;">Roturier</td>
</tr>
<tr class="even">
<td style="text-align: left;">Nain</td>
<td style="text-align: left;">Nains</td>
<td style="text-align: left;">Nain</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Elfe</td>
<td style="text-align: left;">Elfes</td>
<td style="text-align: left;">Elfe</td>
</tr>
<tr class="even">
<td style="text-align: left;">Géant</td>
<td style="text-align: left;">Ogres, géants</td>
<td style="text-align: left;">Nain</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Gnome</td>
<td style="text-align: left;">Gnomes</td>
<td style="text-align: left;">Nain</td>
</tr>
<tr class="even">
<td style="text-align: left;">Gobelin</td>
<td style="text-align: left;">Goblinoïdes</td>
<td style="text-align: left;">Nain</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Halfelin</td>
<td style="text-align: left;">Halflings</td>
<td style="text-align: left;">Roturier</td>
</tr>
<tr class="even">
<td style="text-align: left;">Orc</td>
<td style="text-align: left;">Orcs</td>
<td style="text-align: left;">Nain</td>
</tr>
</tbody>
</table>
<table style="width:67%;">
<caption>Langues exotiques</caption>
<colgroup>
<col style="width: 19%" />
<col style="width: 29%" />
<col style="width: 18%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Langue</th>
<th style="text-align: left;">Haut-parleurs typiques</th>
<th style="text-align: left;">Script</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Abysses</td>
<td style="text-align: left;">Démons</td>
<td style="text-align: left;">Infernal</td>
</tr>
<tr class="even">
<td style="text-align: left;">Céleste</td>
<td style="text-align: left;">Célestes</td>
<td style="text-align: left;">Céleste</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Draconique</td>
<td style="text-align: left;">Dragons, drakonides</td>
<td style="text-align: left;">Draconique</td>
</tr>
<tr class="even">
<td style="text-align: left;">Parlé des profondeurs</td>
<td style="text-align: left;">Aboleths, Manteleurs</td>
<td style="text-align: left;">-</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Infernal</td>
<td style="text-align: left;">Diables</td>
<td style="text-align: left;">Infernal</td>
</tr>
<tr class="even">
<td style="text-align: left;">Primordial</td>
<td style="text-align: left;">Élémentaires</td>
<td style="text-align: left;">Nain</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Sylvestre</td>
<td style="text-align: left;">Créatures fées</td>
<td style="text-align: left;">Elfe</td>
</tr>
<tr class="even">
<td style="text-align: left;">Commun des profondeurs</td>
<td style="text-align: left;">Les commerçants du monde souterrain</td>
<td style="text-align: left;">Elfe</td>
</tr>
</tbody>
</table>
<p>Certaines de ces langues sont en fait des familles de langues
comportant de nombreux dialectes. Par exemple, la langue primordiale
comprend les dialectes auran, aquatique, glaiseux et terrien, un pour
chacun des quatre plans élémentaires. Les créatures qui parlent
différents dialectes d’une même langue peuvent communiquer entre
elles.</p>
<h2 id="historiques">Historiques</h2>
<p>Toute histoire a un début. L’historique de votre personnage révèle
d’où vous venez, comment vous êtes devenu un aventurier, et votre place
dans le monde. Votre guerrier peut avoir été un chevalier courageux ou
un soldat grisonnant. Votre magicien a pu être un sage ou un artisan.
Votre roublard peut s’être débrouillé en tant que voleur de guilde ou
avoir attiré les foules en tant que bouffon.</p>
<p>Le choix d’un historique vous fournit des indices importants sur
l’identité de votre personnage. La question la plus importante à poser
sur votre historique est : qu’est-ce qui a changé ? Pourquoi avez-vous
cessé de faire ce que votre passé décrit et commencé à partir à
l’aventure ? Où avez-vous trouvé l’argent pour acheter votre équipement
de départ, ou, si vous venez d’un milieu aisé, pourquoi n’avez-vous pas
plus d’argent ? Comment avez-vous appris les compétences de votre classe
? Qu’est-ce qui vous distingue des gens ordinaires qui partagent votre
passé ?</p>
<p>Les historiques fournissent à la fois des avantages concrets
(capacités, maîtrises et langues) et des suggestions pour le jeu de
rôle.</p>
<h3 id="les-composantes-dun-historique">Les composantes d’un
historique</h3>
<h4 id="maîtrises-1">Maîtrises</h4>
<p>Chaque historique donne au personnage la maîtrise de deux
compétences.</p>
<p>En outre, la plupart des historiques donnent au personnage la
maîtrise d’un ou plusieurs outils .</p>
<p>Si un personnage doit acquérir la même maîtrise à partir de deux
sources différentes, il peut choisir une maîtrise différente du même
type (compétence ou outil) à la place.</p>
<h4 id="langues-1">Langues</h4>
<p>Certains historiques permettent également aux personnages d’apprendre
d’autres langues que celles données par la origine.</p>
<h4 id="équipement">Équipement</h4>
<p>Chaque historique fournit un ensemble d’équipement de départ. Si vous
utilisez la règle optionnelle pour dépenser des pièces en équipement,
vous ne recevez pas l’équipement de départ de votre historique.</p>
<h4 id="caractéristiques-suggérées">Caractéristiques suggérées</h4>
<p>Un historique contient des suggestions de caractéristiques
personnelles basées sur vos antécédents. Vous pouvez choisir des
caractéristiques, lancer des dés pour les déterminer au hasard ou vous
inspirer des suggestions pour créer vos propres caractéristiques.</p>
<h4 id="personnaliser-un-historique">Personnaliser un historique</h4>
<p>Vous pouvez modifier certaines des capacités d’un historique pour
qu’il corresponde mieux à votre personnage ou au contexte de la
campagne. Pour personnaliser un personnage, vous pouvez remplacer une
caractéristique par n’importe quelle autre, choisir deux compétences, et
choisir un total de deux compétences d’outils ou langues parmi les
exemples d’arrière-plans. Vous pouvez soit utiliser l’équipement de
votre personnage, soit dépenser de l’argent pour vous équiper comme
indiqué dans la section sur l’équipement. (Si vous dépensez des pièces,
vous ne pouvez pas prendre également le paquet d’équipement suggéré pour
votre classe). Enfin, choisissez deux traits de personnalité, un idéal,
un lien et un défaut. Si vous ne trouvez pas de trait correspondant à
votre historique, travaillez avec votre MJ pour en créer un.</p>
<h3 id="acolyte">Acolyte</h3>
<p>Vous avez passé votre vie au service d’un temple dédié à un dieu
spécifique ou à un panthéon de dieux. Vous agissez comme un
intermédiaire entre le royaume des saints et le monde des mortels, en
accomplissant des rites sacrés et en offrant des sacrifices afin de
conduire les adorateurs en présence du divin. Vous n’êtes pas
nécessairement un clerc - exécuter des rites sacrés n’est pas la même
chose que canaliser la puissance divine.</p>
<p>Choisissez un dieu, un panthéon de dieux ou un autre être quasi-divin
parmi ceux listés dans "Panthéons" ou ceux spécifiés par votre MJ, et
travaillez avec votre MJ pour détailler la nature de votre service
religieux. Étiez-vous un petit fonctionnaire d’un temple, élevé dès
l’enfance pour assister les prêtres dans les rites sacrés ? Ou
étiez-vous un grand prêtre qui a soudainement ressenti un appel à servir
son dieu d’une manière différente ? Peut-être étiez-vous le chef d’un
petit culte en dehors de la structure établie d’un temple, ou même d’un
groupe occulte qui servait un maître diabolique que vous reniez
maintenant.</p>
<p><strong>Compétences en matière de maîtrise :</strong> Intuition,
Religion</p>
<p><strong>Langues :</strong> Deux de votre choix</p>
<p><strong>Equipement :</strong> Un symbole sacré (qui vous a été offert
lorsque vous êtes entré dans la prêtrise), un livre de prières ou un
moulin à prières, 5 bâtons d’encens, des vêtements, un ensemble de
vêtements communs et une pochette contenant 15 gp.</p>
<h4 id="reportage-abri-du-fidèle">Reportage : Abri du fidèle</h4>
<p>En tant qu’acolyte, vous inspirez le respect à ceux qui partagent
votre foi et vous pouvez accomplir les cérémonies religieuses de votre
divinité. Vous et vos compagnons d’aventure pouvez vous attendre à
recevoir gratuitement des soins et des guérisons dans un temple, un
sanctuaire ou toute autre présence établie de votre foi, mais vous devez
fournir tous les composants matériels nécessaires aux sorts. Ceux qui
partagent votre religion vous soutiendront (mais seulement vous) à un
niveau de vie modeste.</p>
<p>Vous pouvez également avoir des liens avec un temple spécifique dédié
à la divinité ou au panthéon de votre choix, et y avoir une résidence.
Il peut s’agir du temple où vous serviez auparavant, si vous restez en
bons termes avec lui, ou d’un temple où vous avez trouvé un nouveau
foyer. Lorsque vous êtes près de votre temple, vous pouvez demander
l’aide des prêtres, à condition que l’aide que vous demandez ne soit pas
dangereuse et que vous restiez en bons termes avec votre temple.</p>
<h4 id="caractéristiques-suggérées-1">Caractéristiques suggérées</h4>
<p>Les acolytes sont façonnés par leur expérience dans les temples ou
autres communautés religieuses. Leur étude de l’histoire et des
principes de leur foi et leurs relations avec les temples, les
sanctuaires ou les hiérarchies affectent leurs manières et leurs idéaux.
Leurs défauts peuvent être une hypocrisie cachée ou une idée hérétique,
ou encore un idéal ou un lien poussé à l’extrême.</p>
<table style="width:97%;">
<colgroup>
<col style="width: 6%" />
<col style="width: 90%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: center;">d8</th>
<th style="text-align: left;">Trait de personnalité</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: left;">J’idolâtre un héros particulier de ma foi,
et je me réfère constamment aux actes et à l’exemple de cette
personne.</td>
</tr>
<tr class="even">
<td style="text-align: center;">2</td>
<td style="text-align: left;">Je peux trouver un terrain commun entre
les ennemis les plus féroces, en faisant preuve d’empathie à leur égard
et en œuvrant toujours pour la paix.</td>
</tr>
<tr class="odd">
<td style="text-align: center;">3</td>
<td style="text-align: left;">Je vois des présages dans chaque événement
et action. Les dieux essaient de nous parler, nous devons juste les
écouter.</td>
</tr>
<tr class="even">
<td style="text-align: center;">4</td>
<td style="text-align: left;">Rien ne peut ébranler mon attitude
optimiste.</td>
</tr>
<tr class="odd">
<td style="text-align: center;">5</td>
<td style="text-align: left;">Je cite (ou cite mal) des textes sacrés et
des proverbes dans presque toutes les situations.</td>
</tr>
<tr class="even">
<td style="text-align: center;">6</td>
<td style="text-align: left;">Je suis tolérant (ou intolérant) envers
les autres religions et je respecte (ou condamne) le culte d’autres
dieux.</td>
</tr>
<tr class="odd">
<td style="text-align: center;">7</td>
<td style="text-align: left;">J’ai apprécié la bonne chère, les boissons
et la haute société parmi l’élite de mon temple. La vie rude
m’agace.</td>
</tr>
<tr class="even">
<td style="text-align: center;">8</td>
<td style="text-align: left;">J’ai passé tellement de temps dans le
temple que j’ai peu d’expérience pratique pour traiter avec les gens du
monde extérieur.</td>
</tr>
</tbody>
</table>
<table style="width:97%;">
<colgroup>
<col style="width: 6%" />
<col style="width: 90%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: center;">d6</th>
<th style="text-align: left;">Idéal</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: left;">La tradition. Les anciennes traditions de
culte et de sacrifice doivent être préservées et défendues.
(Légitime)</td>
</tr>
<tr class="even">
<td style="text-align: center;">2</td>
<td style="text-align: left;">La charité. J’essaie toujours d’aider ceux
qui sont dans le besoin, quel qu’en soit le coût personnel. (Bon)</td>
</tr>
<tr class="odd">
<td style="text-align: center;">3</td>
<td style="text-align: left;">Le changement. Nous devons aider à
apporter les changements que les dieux opèrent constamment dans le
monde. (Chaotique)</td>
</tr>
<tr class="even">
<td style="text-align: center;">4</td>
<td style="text-align: left;">Le pouvoir. J’espère un jour m’élever au
sommet de la hiérarchie religieuse de ma foi. (Légitime)</td>
</tr>
<tr class="odd">
<td style="text-align: center;">5</td>
<td style="text-align: left;">La foi. J’ai confiance que ma divinité
guidera mes actions. J’ai la foi que si je travaille dur, les choses
iront bien. (Légitime)</td>
</tr>
<tr class="even">
<td style="text-align: center;">6</td>
<td style="text-align: left;">Aspiration. Je cherche à me montrer digne
de la faveur de mon dieu en comparant mes actions à ses enseignements.
(N’importe lequel)</td>
</tr>
</tbody>
</table>
<table style="width:97%;">
<colgroup>
<col style="width: 6%" />
<col style="width: 90%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: center;">d6</th>
<th style="text-align: left;">Lien</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: left;">Je mourrais pour retrouver une ancienne
relique de ma foi perdue depuis longtemps.</td>
</tr>
<tr class="even">
<td style="text-align: center;">2</td>
<td style="text-align: left;">Un jour, je me vengerai de la hiérarchie
corrompue du temple qui m’a traité d’hérétique.</td>
</tr>
<tr class="odd">
<td style="text-align: center;">3</td>
<td style="text-align: left;">Je dois ma vie au Prêtre qui m’a recueilli
à la mort de mes parents.</td>
</tr>
<tr class="even">
<td style="text-align: center;">4</td>
<td style="text-align: left;">Tout ce que je fais est pour le commun des
mortels.</td>
</tr>
<tr class="odd">
<td style="text-align: center;">5</td>
<td style="text-align: left;">Je ferai tout pour protéger le temple où
j’ai servi.</td>
</tr>
<tr class="even">
<td style="text-align: center;">6</td>
<td style="text-align: left;">Je cherche à préserver un texte sacré que
mes ennemis considèrent comme hérétique et cherchent à détruire.</td>
</tr>
</tbody>
</table>
<table style="width:97%;">
<colgroup>
<col style="width: 6%" />
<col style="width: 90%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: center;">d6</th>
<th style="text-align: left;">Défaut</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: left;">Je juge les autres sévèrement, et moi-même
encore plus sévèrement.</td>
</tr>
<tr class="even">
<td style="text-align: center;">2</td>
<td style="text-align: left;">Je fais trop confiance à ceux qui
détiennent le pouvoir dans la hiérarchie de mon temple.</td>
</tr>
<tr class="odd">
<td style="text-align: center;">3</td>
<td style="text-align: left;">Ma piété m’amène parfois à faire
aveuglément confiance à ceux qui professent leur foi en mon dieu.</td>
</tr>
<tr class="even">
<td style="text-align: center;">4</td>
<td style="text-align: left;">Je suis inflexible dans ma façon de
penser.</td>
</tr>
<tr class="odd">
<td style="text-align: center;">5</td>
<td style="text-align: left;">Je me méfie des étrangers et j’attends le
pire d’eux.</td>
</tr>
<tr class="even">
<td style="text-align: center;">6</td>
<td style="text-align: left;">Une fois que j’ai choisi un objectif, je
deviens obsédé par celui-ci au détriment de tout le reste de ma
vie.</td>
</tr>
</tbody>
</table>
