<h1 id="informations-légales">Informations légales</h1>
<blockquote>
<p>Ce travail comprend des éléments tirés du Document de référence du
système 5.1 ("SRD 5.1") de Wizards of the Coast LLC, disponible sur
https://dnd.wizards.com/resources/systems-reference-document. Le SRD 5.1
est sous licence Creative Commons Attribution 4.0 International License
disponible sur
https://creativecommons.org/licenses/by/4.0/legalcode.</p>
</blockquote>
<h1 id="les-plans-dexistence">Les plans d’existence</h1>
<p>Le cosmos regorge d’une multitude de mondes ainsi que d’une myriade
de dimensions alternatives de la réalité, appelées les <strong>plans
d’existence.</strong> Il englobe tous les mondes où les MJ organisent
leurs aventures, tous dans le domaine relativement banal du plan
matériel. Au-delà de ce plan se trouvent des domaines de matière et
d’énergie élémentaires brutes, des royaumes de pensée pure et d’ethos,
les maisons des démons et des anges, et les dominations des dieux.</p>
<p>De nombreux sorts et objets magiques peuvent tirer de l’énergie de
ces plans, invoquer les créatures qui les habitent, communiquer avec
leurs habitants et permettre aux aventuriers d’y voyager. Au fur et à
mesure que votre personnage gagne en puissance et en niveau, vous pouvez
marcher dans des rues faites de feu solide ou tester votre courage sur
un champ de bataille où les morts ressuscitent à chaque aube.</p>
<h2 id="le-plan-matériel">Le plan matériel</h2>
<p>Le plan matériel est le point de rencontre où les forces
philosophiques et élémentaires qui définissent les autres plans entrent
en collision dans l’existence désordonnée de la vie des mortels et de la
matière ordinaire. Tous les mondes du jeu fantastique existent dans le
plan matériel, ce qui en fait le point de départ de la plupart des
campagnes et des aventures. Le reste du multivers est défini par rapport
au plan matériel.</p>
<p>Les mondes du plan matériel sont infiniment variés, car ils reflètent
l’imagination créative des MJ qui y placent leurs jeux, ainsi que des
joueurs dont les héros s’y aventurent. Ils comprennent des planètes
désertiques dépourvues de magie et des mondes aquatiques parsemés
d’îles, des mondes où la magie se combine à une technologie avancée et
d’autres piégés dans un âge de pierre sans fin, des mondes où les dieux
marchent et des lieux qu’ils ont abandonnés.</p>
<h2 id="au-delà-du-matériel">Au-delà du matériel</h2>
<p>Au-delà du plan matériel, les différents plans d’existence sont des
royaumes de mythes et de mystères. Ce ne sont pas simplement d’autres
mondes, mais des qualités d’être différentes, formées et gouvernées par
des principes spirituels et élémentaires abstraits du monde
ordinaire.</p>
<h3 id="voyage-planaire">Voyage planaire</h3>
<p>Lorsque les aventuriers voyagent dans d’autres plans d’existence, ils
entreprennent un voyage légendaire à travers les seuils de l’existence
vers une destination mythique où ils s’efforcent d’accomplir leur quête.
Un tel voyage fait partie de la légende. Braver les royaumes des morts,
rechercher les serviteurs célestes d’une divinité ou négocier avec un
Éfritte dans sa ville natale feront l’objet de chansons et d’histoires
pendant des années.</p>
<p>Le voyage vers les plans au-delà du plan matériel peut être accompli
de deux façons : en lançant un sort ou en utilisant un portail
planaire.</p>
<p><strong><em>Sorts.</em></strong> Un certain nombre de sorts
permettent d’accéder directement ou indirectement à d’autres plans
d’existence. Changement <em>de plan</em> peuvent transporter les
aventuriers directement dans n’importe quel autre plan d’existence, avec
différents degrés de précision. Forme <em>éthérée</em> permet aux
aventuriers d’entrer dans le plan éthéré et de voyager de là vers
n’importe lequel des plans qu’il touche - comme les plans élémentaires.
Enfin, le sort de <em>projection astrale</em> permet aux aventuriers de
se projeter dans le plan astral et de voyager dans les plans
extérieurs.</p>
<p><strong><em>Portails.</em></strong> Un portail est un terme général
pour désigner une connexion interplanaire stationnaire qui relie un
endroit spécifique sur un plan à un endroit spécifique sur un autre.
Certains portails ressemblent à des portes, à des fenêtres claires ou à
des passages enveloppés de brouillard, et le simple fait de les franchir
provoque le voyage interplanaire. D’autres sont des lieux - cercles de
pierres dressées, tours flamboyantes, voiliers ou même des villes
entières - qui existent dans plusieurs plans à la fois ou passent d’un
plan à l’autre à tour de rôle. Certains sont des vortex, qui relient
généralement un plan élémentaire à un emplacement très similaire sur le
plan matériel, comme le cœur d’un volcan (menant au plan du feu) ou les
profondeurs de l’océan (vers le plan de l’eau).</p>
<h3 id="plans-transitifs">Plans transitifs</h3>
<p>Le plan éthéré et le plan astral sont appelés les <strong>plans
transitifs</strong>. Ce sont des royaumes sans caractéristiques qui
servent principalement à voyager d’un plan à l’autre. Des sorts tels que
Forme <em>éthérée</em> permettent aux personnages de pénétrer dans ces
plans et de les traverser pour atteindre les plans au-delà.</p>
<p>Le <strong>plan éthéré</strong> est une dimension brumeuse, entourée
de brouillard, parfois décrite comme un grand océan. Ses rivages,
appelés frontière éthérée, chevauchent le plan matériel et les plans
intérieurs, de sorte que chaque emplacement sur ces plans a un
emplacement correspondant sur le plan éthéré. Certaines créatures
peuvent voir dans la frontière éthérée, et les sorts Voir
l’<em>invisible</em> et Vision <em>suprême</em> leur confèrent cette
capacité. Certains effets magiques s’étendent également du plan matériel
à la frontière éthérée, en particulier les effets qui utilisent
l’énergie de la force comme le <em>Cage de force</em> force. Les
profondeurs du plan, les Profondeurs éthérées, sont une région de brumes
tourbillonnantes et de brouillards colorés.</p>
<p>Le <strong>plan astral</strong> est le royaume de la pensée et du
songe, où les visiteurs voyagent en tant qu’âmes désincarnées pour
atteindre les plans du divin et du démoniaque. C’est une grande mer
argentée, la même en haut et en bas, avec des volutes de blanc et de
gris qui se faufilent parmi des grains de lumière ressemblant à des
étoiles lointaines. Des tourbillons de couleur erratiques vacillent dans
l’air comme des pièces de monnaie qui tournent. On y trouve parfois des
morceaux de matière solide, mais la majeure partie du plan astral est un
domaine ouvert et sans fin.</p>
<h3 id="plans-intérieurs">Plans intérieurs</h3>
<p>Les plans intérieurs entourent et enveloppent le plan matériel et ses
échos, fournissant la substance élémentaire brute à partir de laquelle
tous les mondes ont été créés. Les quatre <strong>plans élémentaires -
l’air</strong>, la terre, le feu et l’eau - forment un anneau autour du
plan matériel, suspendu dans le <strong>chaos primordial</strong>.</p>
<p>Sur leurs bords les plus internes, là où ils sont les plus proches du
plan matériel (dans un sens conceptuel sinon géographique littéral), les
quatre plans élémentaires ressemblent à un monde dans le plan matériel.
Les quatre éléments se mêlent ensemble comme ils le font dans le plan
matériel, formant la terre, la mer et le ciel. Plus loin du plan
matériel, cependant, les plans élémentaires sont à la fois étrangers et
hostiles. Ici, les éléments existent dans leur forme la plus pure : de
grandes étendues de terre solide, de feu ardent, d’eau cristalline et
d’air pur. Ces régions sont peu connues, si bien que lorsqu’on parle du
plan du feu, par exemple, on se limite généralement à la région
frontalière. Aux confins des plans intérieurs, les éléments purs se
dissolvent et se mélangent en un tumulte sans fin d’énergies et de
substances qui s’entrechoquent, le chaos primordial.</p>
<h3 id="plans-extérieurs">Plans extérieurs</h3>
<p>Si les plans intérieurs sont la matière brute et l’énergie qui
composent le multivers, les plans extérieurs sont la direction, la
pensée et le but de cette construction. C’est pourquoi de nombreux sages
appellent les plans extérieurs "plans divins", "plans spirituels" ou
"plans divins", car les plans extérieurs sont surtout connus pour être
la demeure des divinités.</p>
<p>Lorsqu’on discute de quoi que ce soit en rapport avec les divinités,
le langage utilisé doit être hautement métaphorique. Leurs demeures
actuelles ne sont pas littéralement des "lieux", mais illustrent l’idée
que les plans extérieurs sont des royaumes de la pensée et de l’esprit.
Comme pour les plans élémentaires, on peut imaginer la partie
perceptible des plans extérieurs comme une sorte de région frontière,
tandis que de vastes régions spirituelles se trouvent au-delà de
l’expérience sensorielle ordinaire.</p>
<p>Même dans ces régions perceptibles, les apparences peuvent être
trompeuses. Au départ, de nombreux plans extérieurs semblent
accueillants et familiers aux natifs du plan matériel. Mais le paysage
peut changer selon les caprices des forces puissantes qui vivent sur les
plans extérieurs. Les désirs des forces puissantes qui habitent ces
plans peuvent les remodeler complètement, effaçant et reconstruisant
effectivement l’existence elle-même pour mieux répondre à leurs propres
besoins.</p>
<p>La distance est un concept pratiquement dénué de sens sur les plans
extérieurs. Les régions perceptibles des plans semblent souvent très
petites, mais elles peuvent aussi s’étendre à ce qui semble être
l’infini. Il est possible de faire une visite guidée de l’enfer en une
seule journée, si les puissances de l’enfer le souhaitent. Ou bien, il
peut falloir des semaines aux voyageurs pour faire un voyage éreintant à
travers une seule région.</p>
<p>Les plans extérieurs les plus connus sont un groupe de seize plans
qui correspondent aux huit alignements (à l’exception de la neutralité)
et aux nuances qui les distinguent.</p>
<h4 id="alignement-planaire">Alignement planaire</h4>
<p>Les plans dont la nature comporte un certain élément de bien sont
appelés les <strong>plans supérieurs.</strong> Les créatures célestes
telles que les anges et les pégases vivent dans les plans supérieurs.
Les plans comportant un élément de mal sont les <strong>plans
inférieurs.</strong> Les fiélons tels que les démons et les diables
vivent dans les plans inférieurs. L’alignement d’un plan est son
essence, et un personnage dont l’alignement ne correspond pas à celui du
plan éprouve un profond sentiment de dissonance. Lorsqu’une créature
bonne visite un plan supérieur neutre d’alignement bon, par exemple,
elle se sent en accord avec le plan, mais une créature mauvaise se sent
en désaccord et plus que mal à l’aise.</p>
<h4 id="demi-plans">Demi-plans</h4>
<p>Les Demi-plans sont de petits espaces extradimensionnels avec leurs
propres règles. Ce sont des morceaux de réalité qui ne semblent avoir
leur place nulle part ailleurs. Les Demi-plans sont créés de diverses
manières. Certains sont créés par des sorts, comme <em>Demi-plan</em>,
ou générés par la volonté d’une divinité puissante ou d’une autre force.
Ils peuvent exister naturellement, comme une partie de la réalité
existante qui a été séparée du reste du multivers, ou comme un bébé
univers qui grandit en puissance. On peut entrer dans un Demi-plan donné
par un point unique où il touche un autre plan. En théorie, un sort de
<em>changement de plan</em> peut également transporter des voyageurs
vers un Demi-plan, mais la fréquence appropriée requise pour le diapason
est extrêmement difficile à obtenir. Le sort de <em>portail</em> est
plus fiable, à condition que le lanceur de sorts connaisse le
Demi-plan.</p>
<h1 id="panthéons">Panthéons</h1>
<p>Les panthéons celte, égyptien, grec et nordique sont des
interprétations fantaisistes des religions historiques de notre monde
antique. Ils comprennent les divinités les plus appropriées pour être
utilisées dans un jeu, séparées de leur contexte historique dans le
monde réel et réunies en panthéons qui servent les besoins du jeu.</p>
<h2 id="le-panthéon-celtique">Le panthéon celtique</h2>
<table style="width:98%;">
<caption>Déités celtiques</caption>
<colgroup>
<col style="width: 38%" />
<col style="width: 15%" />
<col style="width: 19%" />
<col style="width: 24%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Déité</th>
<th style="text-align: center;">Alignement</th>
<th style="text-align: left;">Domaines suggérés</th>
<th style="text-align: left;">Symbole</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Le Daghdha, dieu du temps et des
récoltes</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Nature, tromperie</td>
<td style="text-align: left;">Chaudron ou bouclier bouillonnant</td>
</tr>
<tr class="even">
<td style="text-align: left;">Arawn, dieu de la vie et de la mort</td>
<td style="text-align: center;">NE</td>
<td style="text-align: left;">La vie, la mort</td>
<td style="text-align: left;">Étoile noire sur fond gris</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Belenus, dieu du soleil, de la lumière et
de la chaleur.</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">Lumière</td>
<td style="text-align: left;">Disque solaire et pierres dressées</td>
</tr>
<tr class="even">
<td style="text-align: left;">Brigantia, déesse des rivières et du
bétail</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">La vie</td>
<td style="text-align: left;">Passerelle</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Diancecht, dieu de la médecine et de la
guérison.</td>
<td style="text-align: center;">LG</td>
<td style="text-align: left;">La vie</td>
<td style="text-align: left;">Branches de chêne et de gui croisées</td>
</tr>
<tr class="even">
<td style="text-align: left;">Dunatis, dieu des montagnes et des
sommets</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">Nature</td>
<td style="text-align: left;">Pic de montagne coiffé d’un soleil
rouge</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Goibhniu, dieu des forgerons et de la
guérison.</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">Connaissance, vie</td>
<td style="text-align: left;">Maillet géant sur l’épée</td>
</tr>
<tr class="even">
<td style="text-align: left;">Lugh, dieu des arts, des voyages et du
commerce</td>
<td style="text-align: center;">CN</td>
<td style="text-align: left;">Connaissance, vie</td>
<td style="text-align: left;">Paire de longues mains</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Manannan mac Lir, dieu des océans et des
créatures marines</td>
<td style="text-align: center;">LN</td>
<td style="text-align: left;">Nature, Tempête</td>
<td style="text-align: left;">Vague d’eau blanche sur le vert</td>
</tr>
<tr class="even">
<td style="text-align: left;">Math Mathonwy, dieu de la magie</td>
<td style="text-align: center;">NE</td>
<td style="text-align: left;">Connaissances</td>
<td style="text-align: left;">Personnel</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Morrigan, déesse de la bataille</td>
<td style="text-align: center;">CE</td>
<td style="text-align: left;">Guerre</td>
<td style="text-align: left;">Deux lances croisées.</td>
</tr>
<tr class="even">
<td style="text-align: left;">Nuada, dieu de la guerre et des
guerriers</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">Guerre</td>
<td style="text-align: left;">Main d’argent sur fond noir</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Oghma, dieu de la parole et de
l’écriture</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">Connaissances</td>
<td style="text-align: left;">Parchemin déroulé</td>
</tr>
<tr class="even">
<td style="text-align: left;">Silvanus, dieu de la nature et des
forêts</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">Nature</td>
<td style="text-align: left;">Chêne d’été</td>
</tr>
</tbody>
</table>
<p>On dit que quelque chose de sauvage se cache au cœur de chaque âme,
un espace qui palpite au son du cri des oies la nuit, au murmure du vent
dans les pins, au rouge inattendu du gui sur un chêne - et c’est dans
cet espace que les dieux celtiques résident.</p>
<p>Ils ont surgi du ruisseau et de la rivière, leur puissance étant
renforcée par la force du chêne et la beauté des forêts et de la lande.
Lorsque le premier forestier a osé mettre un nom sur le visage vu dans
le tronc d’un arbre ou sur la voix qui babille dans un ruisseau, ces
dieux se sont imposés.</p>
<p>Les dieux celtes sont aussi souvent servis par les druides que par
les clercs, car ils sont étroitement alignés avec les forces de la
nature que les druides révèrent.</p>
<h2 id="le-panthéon-égyptien">Le Panthéon égyptien</h2>
<table style="width:98%;">
<caption>Divinités égyptiennes</caption>
<colgroup>
<col style="width: 38%" />
<col style="width: 15%" />
<col style="width: 19%" />
<col style="width: 24%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Déité</th>
<th style="text-align: center;">Alignement</th>
<th style="text-align: left;">Domaines suggérés</th>
<th style="text-align: left;">Symbole</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Re-Horakhty, dieu du soleil, chef des
dieux.</td>
<td style="text-align: center;">LG</td>
<td style="text-align: left;">La vie, la lumière</td>
<td style="text-align: left;">Disque solaire encerclé par un
serpent</td>
</tr>
<tr class="even">
<td style="text-align: left;">Anubis, dieu du jugement et de la
mort</td>
<td style="text-align: center;">LN</td>
<td style="text-align: left;">Décès</td>
<td style="text-align: left;">Chacal noir</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Apep, dieu du mal, du feu et des
serpents.</td>
<td style="text-align: center;">NE</td>
<td style="text-align: left;">Tromperie</td>
<td style="text-align: left;">Serpent flamboyant</td>
</tr>
<tr class="even">
<td style="text-align: left;">Bast, déesse des chats et de la
vengeance</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Guerre</td>
<td style="text-align: left;">Chat</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Bès, dieu de la chance et de la
musique</td>
<td style="text-align: center;">CN</td>
<td style="text-align: left;">Tromperie</td>
<td style="text-align: left;">Image de la divinité difforme</td>
</tr>
<tr class="even">
<td style="text-align: left;">Hathor, déesse de l’amour, de la musique
et de la maternité.</td>
<td style="text-align: center;">NG L</td>
<td style="text-align: left;">a vie, la T lumière</td>
<td style="text-align: left;">ête de vache cornue avec disque
lunaire</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Imhotep, dieu de l’artisanat et de la
médecine</td>
<td style="text-align: center;">NG C</td>
<td style="text-align: left;">onnaissances P</td>
<td style="text-align: left;">yramide d’étapes</td>
</tr>
<tr class="even">
<td style="text-align: left;">Isis, déesse de la fertilité et de la
magie</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">Connaissance, vie</td>
<td style="text-align: left;">Ankh et étoile</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Nephtys, déesse de la mort et du
chagrin.</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Décès</td>
<td style="text-align: left;">Cornes autour d’un disque lunaire</td>
</tr>
<tr class="even">
<td style="text-align: left;">Osiris, dieu de la nature et du monde
souterrain.</td>
<td style="text-align: center;">LG</td>
<td style="text-align: left;">Vie, Nature</td>
<td style="text-align: left;">Crochet et fléau</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Ptah, dieu de l’artisanat, de la
connaissance et des secrets.</td>
<td style="text-align: center;">LN C</td>
<td style="text-align: left;">onnaissances T</td>
<td style="text-align: left;">aureau</td>
</tr>
<tr class="even">
<td style="text-align: left;">Seth, dieu des Ténèbres et des tempêtes du
désert.</td>
<td style="text-align: center;">CE</td>
<td style="text-align: left;">Mort, Tempête, Tromperie</td>
<td style="text-align: left;">Cobra enroulé</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Sobek, dieu de l’eau et des
crocodiles.</td>
<td style="text-align: center;">LE N</td>
<td style="text-align: left;">ature, Tempête T</td>
<td style="text-align: left;">ête de crocodile avec cornes et
plumes</td>
</tr>
<tr class="even">
<td style="text-align: left;">Thot, dieu de la connaissance et de la
sagesse</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">Connaissances</td>
<td style="text-align: left;">Ibis</td>
</tr>
</tbody>
</table>
<p>Ces dieux sont une jeune dynastie d’une ancienne famille divine,
héritiers du règne du cosmos et du maintien du principe divin de Maât -
l’ordre fondamental de la vérité, de la justice, de la loi et de l’ordre
qui place les dieux, les pharaons mortels et les hommes et femmes
ordinaires à leur place logique et légitime dans l’univers.</p>
<p>Le panthéon égyptien a la particularité d’avoir trois dieux
responsables de la mort, chacun avec des alignements différents. Anubis
est le dieu neutre de l’au-delà, qui juge les âmes des morts. Seth est
un dieu maléfique chaotique du meurtre, peut-être plus connu pour avoir
tué son frère Osiris. Et Nephtys est une bonne déesse chaotique du
deuil.</p>
<h2 id="le-panthéon-grec">Le Panthéon grec</h2>
<table style="width:98%;">
<caption>Divinités grecques</caption>
<colgroup>
<col style="width: 38%" />
<col style="width: 15%" />
<col style="width: 19%" />
<col style="width: 24%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Déité</th>
<th style="text-align: center;">Alignement</th>
<th style="text-align: left;">Domaines suggérés</th>
<th style="text-align: left;">Symbole</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Zeus, dieu du ciel, chef des dieux.</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">Tempête</td>
<td style="text-align: left;">Un poing rempli d’éclairs.</td>
</tr>
<tr class="even">
<td style="text-align: left;">Aphrodite, déesse de l’amour et de la
beauté</td>
<td style="text-align: center;">CG L</td>
<td style="text-align: left;">umière C</td>
<td style="text-align: left;">oquillage</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Apollon, dieu de la lumière, de la musique
et de la guérison.</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Connaissance, Vie, Lumière</td>
<td style="text-align: left;">Lyre</td>
</tr>
<tr class="even">
<td style="text-align: left;">Ares, dieu de la guerre et des
conflits</td>
<td style="text-align: center;">CE</td>
<td style="text-align: left;">Guerre</td>
<td style="text-align: left;">Lance</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Artémis, déesse de la chasse et de
l’accouchement</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">Vie, Nature l</td>
<td style="text-align: left;">Arc et flèche sur e disque lunaire</td>
</tr>
<tr class="even">
<td style="text-align: left;">Athéna, déesse de la sagesse et de la
civilisation</td>
<td style="text-align: center;">LG</td>
<td style="text-align: left;">Connaissance, guerre</td>
<td style="text-align: left;">Chouette</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Déméter, déesse de l’agriculture</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">La vie</td>
<td style="text-align: left;">Tête de jument</td>
</tr>
<tr class="even">
<td style="text-align: left;">Dionysos, dieu de la joie et du vin</td>
<td style="text-align: center;">CN</td>
<td style="text-align: left;">La vie</td>
<td style="text-align: left;">Thyrsus (bâton muni d’une pomme de
pin)</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Hadès, dieu des enfers</td>
<td style="text-align: center;">LE</td>
<td style="text-align: left;">Décès</td>
<td style="text-align: left;">Bélier noir</td>
</tr>
<tr class="even">
<td style="text-align: left;">Hécate, déesse de la magie et de la
lune.</td>
<td style="text-align: center;">CE</td>
<td style="text-align: left;">Connaissance, ruse</td>
<td style="text-align: left;">Lune couchée</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Héphaïstos, dieu de la forge et de
l’artisanat</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">Connaissances</td>
<td style="text-align: left;">Marteau et enclume</td>
</tr>
<tr class="even">
<td style="text-align: left;">Héra, déesse du mariage et de
l’intrigue.</td>
<td style="text-align: center;">CN</td>
<td style="text-align: left;">Tromperie d</td>
<td style="text-align: left;">Eventail de plumes e paon</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Hercule, dieu de la force et de
l’aventure</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Tempête, guerre</td>
<td style="text-align: left;">Tête de lion</td>
</tr>
<tr class="even">
<td style="text-align: left;">Hermès, dieu du voyage et du commerce</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Tromperie</td>
<td style="text-align: left;">Caducée (bâton ailé et serpents)</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Hestia, déesse du foyer et de la
famille</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">La vie</td>
<td style="text-align: left;">Foyer</td>
</tr>
<tr class="even">
<td style="text-align: left;">Nike, déesse de la victoire</td>
<td style="text-align: center;">LN</td>
<td style="text-align: left;">Guerre</td>
<td style="text-align: left;">Femme ailée</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Pan, dieu de la nature</td>
<td style="text-align: center;">CN</td>
<td style="text-align: left;">Nature</td>
<td style="text-align: left;">Syrinx (flûte de Pan)</td>
</tr>
<tr class="even">
<td style="text-align: left;">Poséidon, dieu de la mer et des
tremblements de terre</td>
<td style="text-align: center;">CN</td>
<td style="text-align: left;">Tempête</td>
<td style="text-align: left;">Trident</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Tyche, déesse de la bonne fortune</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">Tromperie</td>
<td style="text-align: left;">Pentagramme rouge</td>
</tr>
</tbody>
</table>
<p>Les dieux de l’Olympe se font connaître par le doux clapotis des
vagues sur les rivages et le fracas du tonnerre sur les sommets couverts
de nuages. Les bois épais infestés de sangliers et les collines sèches
couvertes d’oliviers témoignent de leur passage. Tous les aspects de la
nature résonnent de leur présence, et ils se sont également fait une
place dans le cœur de l’homme.</p>
<h2 id="le-panthéon-nordique">Le Panthéon nordique</h2>
<table style="width:98%;">
<caption>Déités nordiques</caption>
<colgroup>
<col style="width: 38%" />
<col style="width: 15%" />
<col style="width: 19%" />
<col style="width: 24%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Déité</th>
<th style="text-align: center;">Alignement</th>
<th style="text-align: left;">Domaines suggérés</th>
<th style="text-align: left;">Symbole</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Odin, dieu de la connaissance et de la
guerre</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">Connaissance, guerre</td>
<td style="text-align: left;">Regarder l’œil bleu</td>
</tr>
<tr class="even">
<td style="text-align: left;">Aegir, dieu de la mer et des tempêtes</td>
<td style="text-align: center;">NE</td>
<td style="text-align: left;">Tempête</td>
<td style="text-align: left;">Vagues océaniques rugueuses</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Balder, dieu de la beauté et de la
poésie</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">La vie, la lumière</td>
<td style="text-align: left;">Calice en argent incrusté de pierres
précieuses</td>
</tr>
<tr class="even">
<td style="text-align: left;">Forseti, dieu de la justice et du
droit</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">Lumière</td>
<td style="text-align: left;">Tête d’un homme barbu</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Frey, dieu de la fertilité et du
soleil.</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">La vie, la lumière</td>
<td style="text-align: left;">Épée à deux mains bleu glacier</td>
</tr>
<tr class="even">
<td style="text-align: left;">Freya, déesse de la fertilité et de
l’amour</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">La vie</td>
<td style="text-align: left;">Falcon</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Frigga, déesse de la naissance et de la
fertilité</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">La vie, la lumière</td>
<td style="text-align: left;">Chat</td>
</tr>
<tr class="even">
<td style="text-align: left;">Heimdall, dieu de la vigilance et de la
loyauté</td>
<td style="text-align: center;">LG</td>
<td style="text-align: left;">Lumière, guerre</td>
<td style="text-align: left;">Corne musicale frisée</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Hel, déesse des enfers.</td>
<td style="text-align: center;">NE</td>
<td style="text-align: left;">Décès</td>
<td style="text-align: left;">Visage d’une femme, pourrissant d’un
côté</td>
</tr>
<tr class="even">
<td style="text-align: left;">Hermod, dieu de la chance</td>
<td style="text-align: center;">CN</td>
<td style="text-align: left;">Tromperie</td>
<td style="text-align: left;">Rouleau ailé</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Loki, dieu des voleurs et de la ruse.</td>
<td style="text-align: center;">CE</td>
<td style="text-align: left;">Tromperie</td>
<td style="text-align: left;">Flamme</td>
</tr>
<tr class="even">
<td style="text-align: left;">Njord, dieu de la mer et du vent</td>
<td style="text-align: center;">NG</td>
<td style="text-align: left;">Nature, Tempête</td>
<td style="text-align: left;">Pièce d’or</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Odur, dieu de la lumière et du
soleil.</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Lumière</td>
<td style="text-align: left;">Disque solaire</td>
</tr>
<tr class="even">
<td style="text-align: left;">Sif, déesse de la guerre</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Guerre</td>
<td style="text-align: left;">Epée levée</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Skadi, dieu de la terre et des
montagnes</td>
<td style="text-align: center;">N</td>
<td style="text-align: left;">Nature</td>
<td style="text-align: left;">Sommet de montagne</td>
</tr>
<tr class="even">
<td style="text-align: left;">Surtur, dieu des géants du feu et de la
guerre.</td>
<td style="text-align: center;">LE</td>
<td style="text-align: left;">Guerre</td>
<td style="text-align: left;">Épée flamboyante</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Thor, dieu des tempêtes et du
tonnerre.</td>
<td style="text-align: center;">CG</td>
<td style="text-align: left;">Tempête, guerre</td>
<td style="text-align: left;">Marteau</td>
</tr>
<tr class="even">
<td style="text-align: left;">Thrym, dieu des géants du gel et du
froid.</td>
<td style="text-align: center;">CE</td>
<td style="text-align: left;">Guerre</td>
<td style="text-align: left;">Hache blanche à double lame</td>
</tr>
<tr class="odd">
<td style="text-align: left;">Tyr, dieu du courage et de la
stratégie</td>
<td style="text-align: center;">LN</td>
<td style="text-align: left;">Connaissance, guerre</td>
<td style="text-align: left;">Épée</td>
</tr>
<tr class="even">
<td style="text-align: left;">Uller, dieu de la chasse et de
l’hiver</td>
<td style="text-align: center;">CN</td>
<td style="text-align: left;">Nature</td>
<td style="text-align: left;">Arc long</td>
</tr>
</tbody>
</table>
<p>Là où la terre plonge des collines enneigées dans les fjords glacés
en contrebas, là où les chaloupes s’amarrent à la plage, là où les
glaciers avancent et reculent à chaque automne et chaque printemps,
c’est le pays des Vikings, le foyer du panthéon nordique. C’est un
climat brutal, qui exige une vie brutale. Les guerriers de ce pays ont
dû s’adapter aux conditions difficiles pour survivre, mais ils n’ont pas
été trop déformés par les besoins de leur environnement. Compte tenu de
la nécessité de faire des raids pour trouver de la nourriture et des
richesses, il est surprenant que les mortels se soient aussi bien
comportés qu’ils l’ont fait. Leurs pouvoirs reflètent le besoin
qu’avaient ces guerriers d’un leadership fort et d’une action décisive.
Ainsi, ils voient leurs divinités dans chaque coude d’une rivière, les
entendent dans le fracas du tonnerre et le grondement des glaciers, et
les sentent dans la fumée d’une maison longue en feu.</p>
<p>Le panthéon nordique comprend deux grandes familles, les Aesir
(divinités de la guerre et du destin) et les Vanir (dieux de la
fertilité et de la prospérité). Autrefois ennemies, ces deux familles
sont désormais étroitement alliées contre leurs ennemis communs, les
géants (dont les dieux Surtur et Thrym).</p>
